{{>admin-navbar}}

<main style="margin-top: 58px">
    <div class="container pt-4">



        
    <div class="container">

        <h1> Order Details Table</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">Customer Name</th> 
                    <th scope="col">Address</th>
                    <th scope="col">Payment metod</th>
                    <th scope="col">Order Date</th> 
                    <th scope="col">Order Status</th> 
                    <th scope="col">Return Approval Status</th> 
                </tr> 
            </thead > 

            <!-- Populate table with data --> 

            <!-- Example row --> 
            {{#if order}}
            {{#each order}}

            <tr > 



                <!-- Customer Name --> 

                <td >{{user.firstName}} {{user.lastName}} </td > 
                <!-- Address --> 
                <td>{{shippingInfo.houseName}},{{shippingInfo.city}}<br>{{shippingInfo.state}},{{shippingInfo.country}}<br>{{shippingInfo.phone}}</td>


                <td>{{paymentMode}}</td> 

                <!-- Order Date -->  

                <td class="Orderdate">{{createdAt}} </td >  

                <!-- Order Status -->  

                <td >
                    <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                       {{orderStatus}}
                     </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <li>
                         <form id="order-form" method="POST" action="/admin/setOrderStatus">
                           <input type="hidden" name="Sid" value="{{_id}}">
                           <input type="hidden" name="status" value="Confirmed">
                           <button type="submit" class="dropdown-item">Confirmed</button>
                         </form>
                       </li>
                       <li>
                         <form id="order-form" method="POST" action="/admin/setOrderStatus">
                           <input type="hidden" name="Sid" value="{{_id}}">
                           <input type="hidden" name="status" value="Shipped">
                           <button type="submit" class="dropdown-item">Shipped</button>
                         </form>
                        </li>
                       <li>
                        <form id="order-form" method="POST" action="/admin/setOrderStatus">
                           <input type="hidden" name="Sid" value="{{_id}}">
                           <input type="hidden" name="status" value="Arriving Today">
                           <button type="submit" class="dropdown-item">Arriving Today</button>
                        </form>
                        </li>
                     </ul>
                     <div><p style="color: red;" id="messages"></p></div>
                     <p style="color: red;" id="message"></p></div>
                    </div>
                </td >  

                <!-- Return Approval Status -->  

                <td >
                <a href="/admin/viewOrder/{{_id}}" class="text-primary">view Order<i class="fa fa-eye" aria-hidden="true"></i></a><br>
                {{#if (and isDelivered (eq inReturn false))}}
                <button type = "button" class = "btn btn-success btn-sm " > Procesed </button>
                {{else}}
                {{#if (and inReturn (eq returned false))}}
                <button type = "button" class = "btn btn-primary btn-sm return" id="ApproveReturn" data-url={{_id}} >Approve Return </button>
                {{else}}
                {{#if (and returned inReturn)}}
                <p><h6>Order returned</h6> </p>
                {{else}}
                <button type = "button" class = "btn btn-success btn-sm deliver" id="deliver" data-url={{_id}} > Deliver </button>
                {{/if}}
                {{/if}}
                {{/if}}
                <div>
                </td > 
                
            </tr > 
            {{/each}} 
            {{else}}
            <div>
                <h1>No order Data</h1>
            </div>
            {{/if}}																	    

        </table >  

    </div>




    </div>

</main>

<script src="/order.js"></script>