{{>admin-navbar}}
<main style="margin-top: 58px">
    <div class="container pt-4">
        <nav class="navbar navbar-light bg-light">
            <a href="/admin/category" class="add-btn my-0 my-sm-0">
                <button>Categories</button>
            </a>
            <a href="/admin/products/add" class="add-btn my-0 my-sm-0">
                <button>Add Products</button>
            </a>
        </nav>

        <section style="background-color: #eee;">
            <div class="container py-5" id="ProdData">
                {{#each product}}
                    <div class="row justify-content-center mb-3" >
                        <div class="col-md-12 col-xl-10">
                            <div class="card shadow-0 border rounded-3">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img  src="/{{images}}" class="w-100"/>
                                                <a href="#!">
                                                    <div class="hover-overlay">
                                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h5>{{ name }}</h5>
                                            <div class="mt-1 mb-0 text-muted small">
                                                <span>{{ size }}</span>
                                            </div>
                                            <div class="mb-2 text-muted small">
                                                <span>In stock :
                                                    {{ inventory }}</span>
                                            </div>
                                            <p class="text-truncate mb-4 mb-md-0">
                                                {{ description }}
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                            <div class="d-flex flex-row align-items-center mb-1">
                                                <h4 class="mb-1 me-1">₹{{ price }}</h4>
                                                <span class="text-danger">
                                                    {{#each category}}
                                                        <s>{{ category.name }}</s>
                                                    {{/each}}
                                                </span>
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                 <a href="/admin/products/getEdit/{{_id}}" class="btn btn-primary text-white px-4">Edit</a>
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <button class="btn btn-primary btn-sm bg-danger delproduct" type="submit" name="delproduct" id="delproduct" data-url={{ _id }}>Delete</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>

    </div>
</main>
