{{>admin-navbar }}

<main style="margin-top: 58px">
    <nav class="navbar navbar-light bg-light">
        <a href="/admin/addCategories" class="add-btn my-0 my-sm-0">
            <button>Add Categories</button>
        </a>
    </nav>
    <div class="container pt-4">
        <table class="table" id="catTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col ">Action</th>
                    <th scope="col ">Apply offer</th>
                    <th scope="col ">offer percentage</th>

                </tr>
            </thead>
            <tbody>
                {{#each category}}
                    <tr>
                        <td>{{ name }}</td>
                        <td class="text-center">
                            <ul class="d-flex justify-content-left p-0" style="list-style-type: none;">
                                <li class="px-lg-0">
                                    {{!-- {{ !-- modal -- }} --}}

                                    <a class="btn btn-sm btn-danger" data-bs-toggle="modal" id="delete" data-bs-target="#{{ _id }}">Delete</a>

                                    <!-- Modal -->

                                    <div class="modal fade" id="{{ _id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered ">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to proceed?
                                                </div>
                                        
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger px-3" onclick="deleteCat(event)" data-url={{_id}}>OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    </li>
                                </ul>
                            </td>
                            <td>
                     
                                <a href="/admin/categoryOffer/{{_id}}" class="btn btn-success btn-sm catOffer" id="catOffer" >Add Offer</a>

                            </td>
                            <td>
                                <input class="col-md-1" name="catOffer" placeholder="{{offer}}">
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </div>
        </main>




        <script src="/category.js"></script>


       

