{{>user-header}}
{{!-- //navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <div class="collapse navbar-collapse ml-auto text-cente d-flex justify-content-between" id="navbarNav">
      <div>

      </div>
      <div>
      <ul class="navbar-nav navbar-center ml-auto text-cente">
        <li class="nav-item ">
          <a class="nav-link px-4" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link px-4" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  px-4" href="#" tabindex="-1" aria-disabled="true">About</a>
        </li>
      </ul>
      </div>
      <div>
      <ul class="nav navbar-nav " >
      <li><a class="fa fa-shopping-cart fs-5 text-dark mx-4" href="/cart"> cart</a></li>
      </ul> 
      </div>
    </div>
  </div>
</nav>
{{!-- navbar end --}}
{{!-- corousel --}}
<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  {{#if bannerData}}
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="/products/{{bannerData.[0].images.[0]}}" class="d-block w-100" alt="next"/>
      <div class="carousel-caption d-none d-md-block">
        <h2>__iMark__</h2>
        <p>{{bannerData.[0].caption}}</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src='/products/{{bannerData.[0].images.[1]}}' class="d-block w-100" alt="next"/>
      <div class="carousel-caption d-none d-md-block">
        <h2>__iMark__ </h2>
        <p>{{bannerData.[0].caption}}</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src='/products/{{bannerData.[0].images.[2]}}' class="d-block w-100" alt="next"/>
      <div class="carousel-caption d-none d-md-block">
        <h2>__iMark__</h2>
        <p>{{bannerData.[0].caption}}</p>
      </div>
    </div>
  </div>
  {{else}}
  <div>
        <div class="carousel-item">
      <img src='https://media.istockphoto.com/id/1199494844/vector/404-connection-error-banner-with-people-flat-vector-illustration-isolated.jpg?s=1024x1024&w=is&k=20&c=WL2O0hvzEBwWqwQer8PHpq9E9ipbUqAvm8xIuUb8-nk=' class="d-block w-100" alt="next"/>
      <div class="carousel-caption d-none d-md-block">
        <h2>__iMark__</h2>
        <p>Oops! We are On maintenance</p>
      </div>
    </div>

  </div>
  {{/if}}
  <!-- Inner -->

  <!-- Controls -->
  <div>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
{{!-- end corousel --}}
{{!-- product card --}}

<section class="banner">    
    
</section>
{{!-- categories filteration --}}
{{#if categories}}
    <section class="container py-5">
      <div class="row text-center pt-3">
          <div class="col-lg-6 m-auto">
              <h1 class="h1">Categories Available</h1>
              <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
              </p>
          </div>
      </div>
      <div class="d-flex justify-content-center row container-fluid">
        
          {{#each categories}}
          <div class="card rounded border shadow-lg text-center row col-12 col-md-3 p-2 mt-3 mx-3">
              <a href="/shop/{{name}}"><img src="{{images}}" class="img-fluid border border-primary shadow" style="width:50vh;height:30vh"></a>
              {{#if offer}}
              <p><span class="badge bg-dark ms-2">{{offer}} % off on this category</span></p>
              {{else}}
              <p><span class="badge bg-dark ms-2"></span></p>
              {{/if}}
              <h5 class="text-center mt-3 mb-3">{{name}}</h5>
              <p class="text-center"><a href="/shop/{{name}}" class="btn btn-success">Go Shop</a></p>

           </div>
          {{/each}}
  
      </div>

    </section>
    {{else}}
          <div class="text-center row col-md-12 p-5 mt-3" >
            <h2>No Categories available for now </h2>
            <div>
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_zxoyy9k2.json"  background="transparent"  speed="0.5"  style="width: 600px; height: 450px;"  loop autoplay></lottie-player>
          </div>
          </div>
    {{/if}}


  
    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
      <div class="text-center">
      <div class="row d-flex justify-content-center ">
        {{#if prod}}
            {{#each prod}}
      <div class="col-auto mb-3 col-lg-3 col-md-5 mx-4 mt-4 ">
        <div class="card h-100 ">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <img class="card-img-top border shadow-lg" style="width:31vh;height:28vh" src="/{{images}}"
              class="w-100" />
            <a href="/product/view/{{_id}}">
              <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-dark ms-2">{{highlights}}</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="/product/view/{{_id}}" class="text-reset">
              <h5 class="card-title mb-2">{{name}}</h5>
            </a>
            <a href="/shop/{{name}}" class="text-reset ">
             
              <p>{{category.name}}</p>
            </a>
            <h6 class="mb-3 price">₹{{price}}</h6>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div >
        <h2>Soon launching precious products for You!</h2>
        <div class="d-flex justify-content-center">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_2frpohrv.json"  background="transparent"  speed="0.5"  style="width: 600px; height: 450px;"  loop autoplay></lottie-player>
        </div>
      </div>
      {{/if}}
        </div>
    </section>

{{!-- pagination --}}
{{#if categories}}
 
 <div class="btn-box d-flex justify-content-center">
    <a href="/shop"><button type="button" class="btn btn-dark">View All products</button>   
    </a>
 </div>
 {{/if}}

{{>user-footer}}
