{{>user-header }}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse ml-auto text-cente d-flex justify-content-between" id="navbarNav">
            <div></div>
            <div>
                <ul class="navbar-nav navbar-center ml-auto text-cente">
                    <li class="nav-item ">
                        <a class="nav-link px-4" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link px-4" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="#">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  px-4" href="#" tabindex="-1" aria-disabled="true">About</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav ">
                    <li>
                        <a class="fa fa-shopping-cart fs-5 text-dark mx-4" href="/cart">
                            cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


{{#if order}}

    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            <h5 class="text-muted mb-0">Thanks for your Order,
                                <span style="color: #2020d0;">{{order.[0].user.firstName}}</span>!</h5>
                        </div>
                       {{#each order}}
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0" style="color: #000207;">Receipt</p>
                                <p class="small text-muted mb-0">Receipt Voucher :
                                </p>
                            </div>

                            <div class="card shadow-0 border mb-4">
                                    <div class="d-flex justify-content-between pt-2">
                                        <p class="fw-bold mb-0">Order Details</p>
                                        <p class="text-muted mb-0">
                                            <span class="fw-bold me-4">Total</span>₹{{ totalAmount }}</p>
                                    </div>

                                    <div class="d-flex justify-content-between pt-2">
                                        <p class="text-muted mb-0">Invoice Number :
                                            {{_id}}</p>
                                        {{!-- <p class="text-muted mb-0">
                                            <span class="fw-bold me-4">Discount</span>
                                        </p> --}}
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <p class="text-muted mb-0">Invoice Date :
                                            {{createdAt}}</p>
                                        <p class="text-muted mb-0">
                                            <span class="fw-bold me-4">GST 18%</span>
                                            {{totalAmount}}</p>
                                    </div>

                                    <div class="d-flex justify-content-between mb-5">
                                        <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
                                        <p class="text-muted mb-0">
                                            <span class="fw-bold me-4">Delivery Charges</span>
                                            Free</p>
                                    </div>
                                </div>
                                <div class="card-footer border-0 px-4 py-5" style="background-color: #707ef7; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                                                      paid:{{totalAmount}}
                                        <span class="h2 mb-0 ms-2">₹</span>
                                    </h5>
                                    <div class="cancelOrder">
                                        <p class="orderDeleted" style="color: crimson;">{{message}}</p>
                                    <button type="button"  class="btn btn-sm btn-danger returnOrder" name="returnOrder" id="returnOrder" data-url={{_id}}>Return</button>
                                    <p class="orderDeleted" style="color: crimson;">Order Canceled</p>
                                    <button type="button"  class="btn btn-sm btn-danger deleteOrder" name="deleteOrder" id="deleteOrder" data-url={{_id}}>Cancel Order</button>
                                     <p class="orderDeleted" style="color: crimson;">Processing your payment</p>
                                    <div><p style="color: red;" id="message"></p></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        {{/if}}
<script src="/order.js"></script>

        {{>user-footer }}
