

{{>user-header}}
{{!-- //navbar --}}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <div class="collapse navbar-collapse ml-auto text-cente d-flex justify-content-between" id="navbarNav">
      <div>

      </div>
      <div>
      <ul class="navbar-nav navbar-center ml-auto text-cente">
        <li class="nav-item ">
          <a class="nav-link px-4" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link px-4" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  px-4" href="#" tabindex="-1" aria-disabled="true">About</a>
        </li>
      </ul>
      </div>
      <div>
      <ul class="nav navbar-nav " >
      <li><a class="fa fa-shopping-cart fs-5 text-dark mx-4" href="/cart"> cart</a></li>
      </ul> 
      </div>
    </div>
  </div>
</nav>
{{!-- navbar end --}}


               <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container-fluid ">
            <div class="row">
               <div class="d-flex align-items-center justify-content-center col-md-12 allProducts ">
                  <div class="full">
                     <h3 class="glow" >All Products </h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->

  

                <!-- product section -->
      <div>

<div class="container-fluid ">
  <div class="row">
<div class="col-md-2" style="float:left; position: relative;">
  <div class="sidebar bg-light h-100 w-100 px-2" style="position: absolute; top: 0; left: 0; right: 0; bottom: auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
   
    <form class="mb-3 searchForm" action="/search" method="get" >
      <input class="form-control" type="text" placeholder="Search" name="search">
      <button class="btn btn-primary mt-2 w-100" type="submit">Search</button>
    </form>
    <h5 class="mb-3 text-white ">Categories</h5>
    <ul class="list-unstyled">
      {{#each cat}}
      <li>
        <a href="/shop/{{name}}" class="sidebar-button">{{name}}</a>
      </li> 
      {{/each}}
   
    </ul>


  </div>
</div>
    <div class="col-md-10 bg-muted" style="float:left;">

      <section class="product_section layout_padding ">
         {{#if prod}}
         <div class="container">
            <div class="heading_container heading_center  d-flex justify-content-center my-5">
               <h4 class="underlinedec">
                  <span><u>Hallmark of excellence, design and quality.</u> 
                     </span>
               </h4>
            </div>
            <div>
            <div class="productList row d-flex jsutify-content-center">  
               {{#each prod}}             
               <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center m-5">
                              
                  <div class="box h-100">  
                     <div class="option_container">
                        <div class="options">
                           <a href="/product/view/{{_id}}" class="option2">
                           Buy Now
                           </a>
                        </div>
                     </div>
                     <div class="img-box">
                        <img style="width:25vh;height:40vh" src="/{{images.[0]}}" alt="my image">
                     </div>
                     <div class="col detail-box">
                        <h5>
                           {{name}}
                        </h5>
                        <h6 style="font-size: x-large;">
                            ₹{{price}}
                        </h6>
                     </div>
                     
                  </div>
                  
               </div>
                {{/each}}
            </div>
           
         </div>
  
         </div>
         {{else}}
      <div class="d-flex justify-content-center m-5">       
        <div>
         <h3>Soon launching precious products for You!</h3>
         <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_2frpohrv.json"  background="transparent"  speed="0.3"  style="width: 600px; height: 450px;"  loop autoplay></lottie-player>
        </div>
      </div>
         {{/if}}
      </section>
    </div>
  </div>
</div>
 
 <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
  <ul class="pagination">
    {{#each pagenumber}}
    <li class="page-item active mx-1"><a class="page-link" href="/shop/next/:{{this}}">{{this}}</a></li>
    {{/each}}
  </ul>
</nav> 



<script src="/search.js"></script>




{{>user-footer}}
