{{>admin-navbar }}

<main style="margin-top: 58px">
    <div class="container pt-4">
        <form  name="editProduct" id="editProduct" class="form-horizontal" enctype="multipart/form-data">
            {{#with prodData}}
                <fieldset>
                    <!-- Form Name -->
                    <h1>Edit Product</h1>


                    <!-- Text input-->
                    <div class="form-group row mt-1">
                        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                        <div class="col-md-4">
                            <input id="product_name" name="product_name" value="{{ name }}" class="form-control input-md" required="" type="text"></div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row mt-1">
                            <label class="col-md-4 control-label" for="category">CATEGORY NAME</label>
                            <div class="col-md-4">
                                <select class="form-select" name="category">
                                    <option value="value" selected>{{ this.category.name }}</option>
                                    {{#each category}}
                                        <option class="text-success" name="category">{{this.name }}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row mt-1">
                            <label class="col-md-4 control-label" for="highlisghts">HIGHLIGHTS</label>
                            <div class="col-md-4">
                                <input id="highlights" value="{{ highlights }}" name="highlights" placeholder="Product Feature" class="form-control input-md" type="text"></div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group row mt-1">
                                <label class="col-md-4 control-label" for="price">PRICE</label>
                                <div class="col-md-4">
                                    <input id="price" name="price" value="{{ price }}" placeholder="PRODUCR PRICE" class="form-control input-md" required="" type="text"></div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group row mt-1">
                                    <label class="col-md-4 control-label" for="product_size">PRODUCT SIZE</label>
                                    <div class="col-md-4">
                                        <input id="product_size" value="{{ size }}" name="product_size" placeholder="PRODUCT SIZE" class="form-control input-md" type="text"></div>
                                    </div>


                                    <!-- Text input-->
                                    <div class="form-group row mt-1">
                                        <label class="col-md-4 control-label" for="available_quantity">INVENTORY</label>
                                        <div class="col-md-4">
                                            <input id="inventory" value="{{ inventory }}" name="inventory" placeholder="INVENTORY" class="form-control input-md" required="" type="text"></div>
                                        </div>


                                        <!-- Textarea -->
                                        <div class="form-group row mt-1">
                                            <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
                                            <div class="col-md-4">
                                                <textarea aria-valuetext="{{ description }}" class="form-control" id="product_description" name="description">{{ description }}</textarea>
                                            </div>
                                        </div>


                                        <!-- Text input-->
                                        <div class="form-group">
                                            <div
                                                class="col-md-4">

                                                <!-- File Button -->

                                                <div class="form-group row mt-2">
                                                    <label class="col-md-4 control-label" for="filebutton">main_image</label>
                                                    {{#each images}}
                                                    <div class="container row md-4 ">
                                                        <input multiple type="file" id="file " name="file" value="/{{ this }}" class="input-file"></div>     
                                                            <div class="card" style="width: 12rem;">
                                                                <img class="card-img-top" src="/{{ this }}" alt="Card image cap"></div>
                                                            {{/each}}

                                                        </div>
                                                        <!-- File Button -->

                                                    </fieldset>
                                                    <!-- Button -->
                                                    <div class="form-group text-center mt-3">
                                                        <div class="col-md-4">
                                                            <button onclick="delProduct({{_id}})" id="singlebutton" name="singlebutton" class="btn btn-primary" data-url={{_id}}>Update</button>
                                                        </div>
                                                    </div>
                                                {{/with}}

                                            </form>

                                        </div>
                                    </main>
