{{>user-header}}
{{!-- //navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <div class="collapse navbar-collapse ml-auto text-cente d-flex justify-content-between" id="navbarNav">
      <div>

      </div>
      <div>
      <ul class="navbar-nav navbar-center ml-auto text-cente">
        <li class="nav-item ">
          <a class="nav-link px-4" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link px-4" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="#">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  px-4" href="#" tabindex="-1" aria-disabled="true">About</a>
        </li>
      </ul>
      </div>
      <div>
      <ul class="nav navbar-nav " >
      <li><a class="fa fa-shopping-cart fs-5 text-dark mx-4" href="/cart"> cart</a></li>
      </ul> 
      </div>
    </div>
  </div>
</nav>





<title class="mt-5">User Profile</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-header">
              User Information
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ User.firstName }} {{User.lastName}}</h5>
              <p class="card-text">{{ User.email }}</p>
            </div>
          </div>

          <div class="list-group mb-3">
            <a href="#settings" class="list-group-item list-group-item-action" data-bs-toggle="list">Settings</a>
          </div>
        </div>

        <div class="col-md-9">
            <div>
                
{{#each User.address}}
  <div class="card col-md-7 my-4 mx-5 exaddress">
    <div class="p-2">
      <h5>Address</h5>
      <div class="row d-flex justify-content-center">
        <p>{{address}}, City: {{city}}, State: {{state}}, Zip Code: {{zip}}</p>
      </div>
      <button type="button" class="btn btn-primary col-md-6" data-bs-toggle="collapse" data-bs-target="#updateAddressForm{{@index}}" aria-expanded="false" aria-controls="updateAddressForm{{@index}}">
        Update Address
      </button>
      <div class="collapse" id="updateAddressForm{{@index}}">
        <div class="card card-body">
          <form class="m-5" action="/update/useraddress/{{_id}}" method="POST">
            <div class="mb-3">
              <label for="houseAddress{{@index}}" class="form-label">House Name</label>
              <input type="text" class="form-control" id="houseAddress{{@index}}" name="houseAddress" placeholder="House" value="{{houseName}}" required>
            </div>
            <div class="mb-3">
              <label for="streetAddress{{@index}}" class="form-label">Street Address</label>
              <input type="text" class="form-control" id="streetAddress{{@index}}" name="streetAddress" placeholder="Address" value="{{address}}" required>
            </div>
            <div class="mb-3">
              <label for="city{{@index}}" class="form-label">City</label>
              <input type="text" class="form-control" id="city{{@index}}" name="city" placeholder="City" value="{{city}}" required>
            </div>
            <div class="mb-3">
              <label for="state{{@index}}" class="form-label">State</label>
              <input type="text" class="form-control" id="state{{@index}}" name="state" placeholder="State" value="{{state}}" required>
            </div>
            <div class="mb-3">
              <label for="zipCode{{@index}}" class="form-label">Zip Code</label>
              <input type="text" class="form-control" id="zipCode{{@index}}" name="zipCode" placeholder="Zip" value="{{zip}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/each}}
                     





            </div>
          <div class="tab-content">

            <div class="tab-pane fade" id="settings">
              <h1>Settings</h1>
              <div class="col-md-6 m-5">
              <form action="/update/userProfile" method="POST" class="userProfile">
                  <div class="mb-3">
                    <label for="name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="Fname" name="firstName" placeholder="Enter your first name" value="{{User.firstName}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="Sname" name="lastName" placeholder="Enter your second name" value="{{User.lastName}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" value="{{User.email}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" value="{{User.password}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="Confirmpassword" placeholder="Confirm your password" value="{{User.password}}" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="/userProfile.js"></script>
  </body>

    {{>user-footer}}